<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.punjabguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChandigarhActivity"
            android:label="@string/city1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AmritsarActivity"
            android:label="@string/city2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PatialaActivity"
            android:label="@string/city3"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JalandharActivity"
            android:label="@string/city4"
            android:parentActivityName=".MainActivity" ></activity>
    </application>

</manifest>